@media screen and (min-width: 600px) {

    body {
        min-height: 100vh;
        min-height: 100svh;
    }

    nav,
    nav ul,
    nav ul li {
        all: unset;
    }

    nav ul {
        display: flex;
        column-gap: 3rem;
    }

    .menu-toggle-container {
        display: none;
    }

    .hero {
        height: 40vh;
    }

    .cta {
        font-size: 2rem;
    }

    .events-weather {
        grid-template-columns: 2.5fr 1.5fr;
        grid-template-rows: 1fr;
    }

    .member-spotlights {
        display: flex;
    }

    .member-spotlights .members {
        flex: 1;
    }

    footer {
        flex-direction: row;
        align-items: center;
        justify-content: space-around;

    }

    .icon {
        margin-right: 1rem;
    }

    /* Discover Page  */
    .discover-main,
    .join-main {
        display: grid;
        height: calc(93vh - 185px);
        grid-template-columns: 3fr 7fr;
        column-gap: 1rem;
        overflow-y: auto;
    }

    .join-main {
        grid-template-columns: 4fr 6fr;
    }

    .sidebar,
    .join-sidebar {
        flex-direction: column;
        height: 100%;
    }

    .sidebar-content {
        min-width: 100%;
        min-height: 200px;
    }

    .main-content {
        height: 100%;
        overflow-y: auto;
    }

    .overlay::after {
        display: none;
    }

    .overlay:hover::after {
        display: flex;
    }

    .overlay img {
        transition: transform 0.3s ease-in-out;
    }

    .overlay img:hover {
        transform: scaleX(1.1);
    }

    .join-sidebar .sidebar-content {
        height: 25vh;
    }

    .join-main h1 {
        margin: 0;
        margin-bottom: 1rem;
    }

    .join-sidebar-container h2,
    .main-content h1 {
        position: sticky;
        top: 0.1rem;
        background-color: #f1eded;
        padding-block: 0.5rem;
    }

    .main-content h1 {
        text-align: center;
    }

    form {
        max-width: 600px;
        margin-inline: auto;
    }

    input[type="submit"] {
        cursor: pointer;
    }

    .thankyou {
        height: calc(93vh - 185px);
    }

    .thankyou h1 {
        font-size: 2.4rem;
    }

    /* Directory Page  */
    .directory-main {
        height: calc(100vh - 22vh);
        overflow-y: auto;
    }

    .member-info {
        transform: translateY(100%);
    }

    .card:hover .member-info {
        transform: translateY(0%);
    }

    /* List View  */

    .company-item {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .company-details {
        flex-direction: row;
        align-items: center;
        width: 100%;
    }

    .company-details>* {
        flex: 1;
    }

    .company-details strong {
        margin-right: 20px;
    }

    .company-details p {
        text-align: center;

    }

    .company-details a {
        margin-top: 0;
        text-align: end;
    }

    /* Directory info page  */
    .directory-info {
        height: calc(100vh - 25vh);
    }
}