header {
    background-color: rgb(85, 120, 197);
    height: 100%;
    padding: 2rem;
    text-align: center;
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    display: flex;
    align-items: center;
}

header .name {
    font-size: 1.6rem;
}

header img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 1rem;
    width: 200px;
    border-radius: 1rem;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 1rem;
}

#menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-width: 3000px;
    margin: auto;
    flex: 1;
}

#menu li {
    flex: 1;
    text-align: center;
}

#menu li a {
    text-decoration: none;
    color: white;
    padding: 1rem 2rem;
    transition: background-color 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    padding: 5px;
    top: 5%;
    left: 0;
    width: 100%;
    z-index: 1000;
}

#menu li a:hover {
    background-color: #21a760;
}

#menu li:first-child a {
    background-color: brown;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: white;
    color: #333;
    margin: 0;
    padding: 0;
}



main {
    margin: 0 auto;
}

h1 {
    font-size: 20px;
    text-align: center;
}

.card-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;

}

.card {
    flex: 2;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    list-style: none;

}

.card h2 {
    color: white;
    background-color: #1091c3;
    margin-top: 0;
    padding: 10px 20px;
}


.card h2 {
    color: white;
    background-color: #032163;
    margin-top: 0;
    padding: 10px 20px;
}

footer {
    bottom: 1rem;
    background-color: #7b92c4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: whitesmoke;
    left: 0;
    right: 0;
}